html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        
    }
}

html {
  position: relative;
  min-height: 100%;
}

.testing1 {
    margin-top: 50px;
}

body {
    margin-bottom: 60px;
    color: green;
}

nav {
    background-image: linear-gradient(seagreen, darkgreen);
}

.logo {
    text-align: center

}

.pear {
    height: 600px;
    width: 800px;
    justify-content: center;
    margin-top: 150px;
}
footer {
    background-image: linear-gradient(seagreen, darkgreen);
}


.button-1 {
    background-image: linear-gradient(seagreen, darkgreen);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    width: 80px;
    list-style: none;
    margin: 0;
    outline: none;
   
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
    vertical-align: middle;
}

    .button-1:hover,
    .button-1:focus {
        background-color: #F082AC;
    }

    .register {
        margin-left: 475px;
        margin-top: 175px;
    }
    .textlagny {
        padding-right: 20px;
    }

    .login {
        margin-left: 475px;
        margin-top: 175px;
    }

    .extraloginbuttons{
        margin-top:20px;
    }
