html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: green;
}

nav {
    background-image: linear-gradient(seagreen, darkgreen);
}

.logo {
    text-align: center

}

.pear {
    height: 600px;
    width: 800px;
    justify-content: center;
    margin-top: 30px;
}
footer {
    background-image: linear-gradient(seagreen, darkgreen);
}

.button-68 {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-68:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-68:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
