@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Päron AB administrator regneark</h1>
    <p>Logg inn for å få tilgang</p>
</div>


<div class="logo">
    <img class="pear" src="https://healthjade.net/wp-content/uploads/2017/10/pear.jpg" alt="alternatetext">
  
</div>



